@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

* {
    box-sizing: border-box;
}

body  {
  font: 400 16px/1.42 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased; /* сглаживание шрифта */
  -moz-osx-smoothing: grayscale;
  color: #fff;
  background: #001821;
  margin: 0;
  height: 100%;
  width: 100%;
}

.wrapper {
    overflow: hidden;
    min-width: 1140px;
    height: 100%;
    width: 100%;
    background: url("./images/promo/bg.png") 50% 0, url("./images/about/bg.png") 50% 80%;
    background-repeat: no-repeat;
}

img {
    display: block;
    max-width: 100%;
}
a {
    color: inherit; /* наследие */
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    font-weight: normal;
}

h2 {
    color: #fff;
    font-weight: 900;
    font-size: 36px;
    margin-bottom: 51px;
}

h3 {
    color: #000;
    font-weight: 900;
    font-size: 24px;
    margin-bottom: 23px;
}

.button {
    color: #fff;
    font-size: 14px;
    background: red;
    font-weight: 700;
    border-radius: 35px;
    padding: 18px 40px;
    text-transform: uppercase;
    box-shadow: none;
    text-decoration: none;
    display: inline-block;
  }

  .button:hover {
    background: #F5170E;
  }

.container {
    margin: 0 auto;
    width: 1140px;
}

.promo__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* вообще не понятно */
    min-height: 750px;;
}

.header {
    padding-top: 25px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.header__col {
    display: flex;
    align-items: center;
}

.header__col--align--right {
    justify-content: flex-end;
}

.logo {
    margin-right: 80px;
}

.menu__list {
    display: flex;
    align-items: center;
}

.menu__item {
    margin-right: 50px;
}

.menu__item--active .menu__link {
    color: #F5170E;
}

.menu__item:last-child {
    margin-right: 0;
}

.menu__link {
    font-size: 14px;
    text-decoration: none;
}

.menu__link:hover {
    color: #F5170E;
}

.contacts {
    font-style: normal;
    text-align: right;
}

.contacts__phone {
    text-decoration: none;
    font-size: 26px;
    margin-bottom: 4px;
}

.contacts__dropdown-title {
    font-size: 13px;
    text-decoration: underline;
}

.promo {
    width: 45%;
    margin-bottom: 246px;
}

.promo__title {
    font-size: 72px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 30px;
}

.promo__subtitle {
    font-size: 18px;
    margin-bottom: 30px;
}

.tours {
    margin-bottom: 127px;
}

.tours__subheader {
    display: flex;
    align-items: baseline;
}

.tours__subheader-title {
    margin-right: 12px;
}

.tours__photo {
    min-height: 142px;
}

.tours__block {
    display: flex;
    color: #666;
    margin-bottom: 24px;
}

.tours__info {
    color: #303030;
    font-size: 14px;
    margin-bottom: 24px;
}

.tours .button {
    padding: 18px 29px;
    background: #fff;
    border: 1px solid #F5170E;
    color: #F5170E;
    transition: .4s;
}

.tours .button:hover {
    background: #F5170E;
    color: #fff;
}

.tours__button--active .button {
    background: #F5170E;
    color: #fff;
}

.tours__list {
    display: flex;
    justify-content: space-between;
}

.tours__item {
    /* width: 362px; */
    width: calc(100% / 3 - 18px);
    min-height: 449px;
    background: #fff;
    color: #303030;
    border-radius: 5px;
}

.tours__content {
    padding: 22px 33px;
}

.tours__elem {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}

.tours__elem:last-child {
    margin-right: 0;
}

.tours__elem-icon {
    padding-right: 10px;
}

.news {
    margin-bottom: 150px;
}

.news__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 58px;
}

.news__item {
    width: 550px;
    min-height: 394px;
    margin-right: 2%;
    flex: 1;
}

.single-news {
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}

.news__item:last-child {
    margin-right: 0;
}

.single-news__pic {
    opacity: .8;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; /* почитать  */
}

.single-news__content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 25px 30px;
    min-height: 150px;
}

.single-news__date {
    font-size: 14px;
    margin-bottom: 12px;
}

.single-news__subheader {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 4px;
}

.single-news__description {
    font-size: 16px;
}

.paginator {
    display: flex;
    justify-content: center;
    align-items: center;
}

.paginator__list  {
    display: flex;
    align-items: center;
}

.paginator__pages {
    margin-right: 25px;
}

.paginator__item {
    text-align: center;
}

.paginator__link {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    border-radius: 50%;
    background: transparent;
    color: #fff;
    padding: 5px 11px;
    text-decoration: none;
    transition: .4s;
}

.paginator__link:hover {
    color: #F5170E;
    background: #fff;
}

.paginator__item--active .paginator__link {
    color: #F5170E;
    background: #fff;
}

.about__img, .about__info {
    display: inline-block;
}

.about__info {
    background: #fff;
    color: #fff !important;
    width: 775px;
    min-height: 455px;
    border-radius: 5px;
    vertical-align: top;
    margin-left: -139px;
    margin-top: 92px;
    background-image: url("./images/about/img-bg.png");
    padding: 70px 80px;
}

.about {
    margin-bottom: 75px;
    background-position: top;
}

.about__subheader {
    color: #000;
    margin-bottom: 37px;
}

.about__text {
    font-size: 16px;
    color: #060606;
    width: 500px;
    margin-bottom: 43px;
}

.footer {
    border-top: 1px solid rgba(255, 255, 255, .1);
    height: 150px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

.footer__col {
    display: flex;
    align-items: center;
    
}

.footer__col--align--right {
    align-items: right;
}

.social {
    margin-right: 74px;
}

.social__list {
    display: flex;
}

.social__item {
    margin-right: 10px;
}

.social__item:last-child {
    margin-right: 0;
}

.social__link:hover {
    opacity: .5;
}

.footer .contacts__text {
    color: #9A9A9A;
    font-size: 11px;
    margin-bottom: 4px;
}

/* services page */

.page-header {
    margin-bottom: 0;
}

.top-line {
    min-height: 412px;
    display: flex;
    flex-direction: column;
    padding-bottom: 24px;
    background: url("./images/services/bg.jpg") right 20% top no-repeat;
}

.top-line__container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.page-title {
    font-size: 72px;
    line-height: 1.1;
    font-weight: 700;
}

.breadcrumbs__list {
    display: flex;
    align-items: center;
}

.breadcrumbs__item {
    display: flex;
    align-items: center;
}

.breadcrumbs__link {
    color: #9A9A9A;
    font-style: 14px;
    font-weight: 700;
}

.breadcrumbs__item--active .breadcrumbs__link {
    font-weight: normal;
}

.breadcrumbs__item:after {
    content: "/";
    color: #9A9A9A;
}

.breadcrumbs__item:last-child:after {
    display: none;
}

.wrap-services {
    background: none;
}

.page-content {
    padding: 100px 0;
    background: #fff;
    color: #303030;
}

.service {
    display: flex;
    margin-bottom: 50px;
}

.service:last-child {
    margin-bottom: 69px;
}

.service__img {
    width: 30%;
    margin-right: 7%;
}

.service__content {
    flex: 1;
}

.service__title {
    color: #000;
    margin: 0;
    font-size: 36px;
    margin-bottom: 28px;
}

.service__desc {
    margin-bottom: 34px;
}

.wrap-services .paginator__link {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    border-radius: 50%;
    background: transparent;
    color: #000;
    padding: 5px 11px;
    text-decoration: none;
    transition: .4s;
}

.wrap-services .paginator__link:hover {
    background: #F5170E;
    color: #fff;
}

.wrap-services .paginator__item--active .paginator__link {
    background: #F5170E;
    color: #fff;
}

.partners {
    background: #fff;
    color: #000;
    padding: 100px 0;
}

.partners__bg--grey {
    background: #F4F5F5;
}

.partners__title {
    color:#000;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 50px;
}

.partners__list {
    display: flex;
    flex-wrap: wrap;

}

.partners__item {
    /* margin-left: 0; */
}

.partners__item:nth-child(4n + 1) {
    /* margin-left: 0; */
}

.partners__link {
    text-decoration: none;
    display: flex;
    width: 275px;
    height: 100px;
    align-items: center;
    justify-content: center;
    filter: grayscale(80%);
}

.partners__link:hover {
    filter: grayscale(0);
}

.footer-page {
    height: 100px;
}