.tours {
  margin-bottom: 127px;
}

.tours__subheader {
  margin-bottom: 51px;
}

.tours__subheader-title {
  display: flex;
  align-items: center;
  margin-right: 12px;
  margin-bottom: 0;
}

.tours__subheader-title:after {
  content: url("../../images/icon/hot.png");
  margin-left: 12px;
  width: 21px;
  height: 28px;
}

.tours__photo {
  min-height: 142px;
}

.tours__block {
  display: flex;
  color: #666;
  margin-bottom: 24px;
}

.tours__info {
  color: #303030;
  font-size: 14px;
  margin-bottom: 24px;
}

.tours .button {
  padding: 18px 29px;
  background: #fff;
  border: 1px solid #F5170E;
  color: #F5170E;
  transition: .4s;
}

.tours .button:hover {
  background: #F5170E;
  color: #fff;
}

.tours__button--active .button {
  background: #F5170E;
  color: #fff;
}

.tours__list {
  display: flex;
  justify-content: space-between;
}

.tours__item {
  /* width: 362px; */
  width: calc(100% / 3 - 18px);
  min-height: 449px;
  background: #fff;
  color: #303030;
  border-radius: 5px;
}

.tours__content {
  padding: 22px 33px;
}

.tours__elem {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
}

.tours__elem:last-child {
  margin-right: 0;
}

.tours__elem-icon {
  padding-right: 10px;
}