.services {
  margin-bottom: 69px;
}

.service {
  display: flex;
  margin-bottom: 50px;
}

.service:last-child {
  margin-bottom: 0;
}

.service__img {
  width: 30%;
  margin-right: 7%;
}

.service__content {
  flex: 1;
}

.service__title {
  color: #000;
  margin: 0;
  font-size: 36px;
  margin-bottom: 28px;
}

.service__desc {
  margin-bottom: 34px;
}

.partners {
  background: #fff;
  color: #000;
  padding: 100px 0;
}

.partners__bg--grey {
  background: #F4F5F5;
}

.partners__title {
  color:#000;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 50px;
}

.partners__list {
  display: flex;
  flex-wrap: wrap;

}

.partners__item {
  /* margin-left: 0; */
}

.partners__item:nth-child(4n + 1) {
  /* margin-left: 0; */
}

.partners__link {
  text-decoration: none;
  display: flex;
  width: 275px;
  height: 100px;
  align-items: center;
  justify-content: center;
  filter: grayscale(80%);
}

.partners__link:hover {
  filter: grayscale(0);
}

.footer-page {
  height: 100px;
}